<html>
<head>
    <title>Login Page</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center">SIGNUP</h1><br>
        <form [formGroup]="signupuser" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="fname"><b class="text-primary">FirstName</b></label><br>
            <input type="text" 
            formControlName="fname"
            class="form-control"
             placeholder="Enter FirstName"
             name="fname" required><br>
        </div>
        <div class="form-group">
          <label for="e
          lname"><b class="text-primary">LastName</b></label><br>
          <input type="text" 
          formControlName="lname"
          class="form-control"
           placeholder="Enter LastName"
           name="lname" required><br>
      </div>
          <div class="form-group">
                <label for="ename"><b class="text-primary">EmailId</b></label><br>
                <input type="text" 
                formControlName="ename"
                class="form-control"
                 placeholder="Enter Emailid"
                 name="ename" required><br>
            </div>
            <div class="form-group">
                <label for="psw"><b class="text-primary">Password</b></label><br>
                <input type="password"
                formControlName="psw"
                class="form-control" 
                placeholder="Enter Password"
                name="psw" required><br>
            </div>
            <div class="form-group">
              <label for="phno"><b class="text-primary">PhoneNumber</b></label><br>
              <input type="text" 
              formControlName="phno"
              class="form-control"
               placeholder="Enter PhoneNumber"
               name="phno" required><br>
          </div>
            <a>Forgot </a><a href="#">password?</a><br><br>
            <button type="submit" class="btn btn-primary">Signup</button>
            <button type="button" class="btn btn-danger">Cancel</button>
        </form>
    </div>
</body>
</html>