<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header style="color: cadetblue;" class="text-center"><h2>Stock Market Charting</h2></header>
    <nav class="col-md navbar navbar-expand bg-dark">
        <div>
<div id="topnav" style="float:left;width: 1300px; height: 25px; word-spacing: 5px; font-size: 90%; padding-left:60px; padding-top: 6px; white-space: nowrap; text-align:left; background-color: black;">
 <nav>
                            <a href="Import.html">IMPORT</a> |
                            <a href="Manage Company.html">MANAGE COMPANY</a> |
                            <a href="Manage Exchange.html">MANAGE EXCHANGE</a>|
                            <a href="Update IPO.html">UPDATE IPO</a>
                      </nav>
                      
             </div>
  
            </div>
    </nav>   
</body>
</html>
